.attribution{
    text-align: center;
    font-size: 14px;
    color: var(--light_cyan);
    background: var(--grayish_blue);
    height: 20px;
    

    a{
        text-decoration: none ;
        color: var(--neon_green);
    }
}